## PARCIAL  FUNDAMENTOS DE LA MATEMATICA

## ESTUDIANTE LUIS MARIO OSORIO ACEVEDO 
LIC. MATEMATICAS

# 1. Para factorizar el trinomio $x^2+7x+10$, buscamos dos enteros.
cuyo producto sea $10$ y cuya suma sea $7$.
Estos enteros son $5$ y $2$, de modo que el trinomio se
factoriza como?.
para responder esta ultima pregunta le pediremos a sympy que nos ayude.

In [ ]:
import sympy as sp
from sympy import factor

el siguiente paso a realizar es definir las variables del trinomio 

$$b= 7$$   $$c= 10$$

In [ ]:
b = 7 
c = 10

In [ ]:
x = sp.symbols('x')
sp.factor(x**2 + b*x + c)

(x + 2)*(x + 5)

en conclusion y como respuesta podemos decir que el trinomio $x^2+7x+10$ se factoriza de la siguiente manera $(x+2)(x+5)$.

## 2. La fórmula de productos notables para la “suma de un cuadrado”
es $(A + B)^2$ = $a^2+2ab+b^2$.
Por tanto, $(2x + 3)^2$ .   para evaluar este producto notable utilizaremos las funciones de google colab.

primero debemos definir las variables $a = 2$ y $b = 3$

luego dar el valor de $x$  en este caso x es simplemente una variable o un simbolo que puede representar cualquier cosa. ya sea (numero o cosa).

In [ ]:
a = 2
b = 3

x= sp.symbols('x')

ahora le pediremos a google colab que nos resuelva este producto notable que es una multiplicacion de un binomio por si mismo.

$$x*x + x*ab +x*ba + b*b$$

In [ ]:
resultado = sp.expand((a*x+b)**2)

In [ ]:
print(resultado)

4*x**2 + 12*x + 9

podemos ver que sympy nos resolvio el producto notable de forma matematica pero tambien lo podemos representar de la siguiente forma.

$$4x^2+12x+9$$

## 3. segun el polinomio que se muestre debe decir el tipo, el grado y los terminos que tenga este polinomio.

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
data = {'polinomio': ['x**2-3x+7','sqrt(2x)-sqrt(3)', '2*x**5+4*x**2'], 'tipo': ['','',''], 'grado': ['','',''], 'terminos': ['','','']}

df = pd.DataFrame(data)

In [ ]:
df

          polinomio tipo grado terminos
0         x**2-3x+7
1  sqrt(2x)-sqrt(3)
2     2*x**5+4*x**2

Para completar este cuadro con la informacion que nos pide, debemos llenar el codigo con los datos de cada polinomio. o sea el tipo, el grado, y los terminos que este tenga.

In [ ]:
data = {'polinomio': ['x**2-3x+7','sqrt(2x)-sqrt(3)', '2*x**5+4*x**2'], 'tipo': ['trinomio','binomio','binomio'], 'grado': ['2','1','5'], 'terminos': ['3','2','2']}

df = pd.DataFrame(data)

In [ ]:
df

          polinomio      tipo grado terminos
0         x**2-3x+7  trinomio     2        3
1  sqrt(2x)-sqrt(3)   binomio     1        2
2     2*x**5+4*x**2   binomio     5        2

## EL CUADRO SE COMPLETA DE LA FORMA QUE TENEMOS ARRIBA.

## 4. 136. Factorización de $A^n − 1$ Verifique estas fórmulas al expandir y simplificar el lado derecho.

$A^2-1 =(A - 1)(A + 1)$  
$A^3-1 =(A - 1)(A^2+A+1)$  
$A^4-1 =(A - 1)(A^3+A^2+A+1)$

Con base en el patrón mostrado en esta lista, ¿cómo piensa usted
que sería posible factorizar $A^5-1$? Verifique su conjetura.
Ahora generalice el patrón que haya observado para obtener
una fórmula de factorización para $A^n-1$, donde n es un entero
positivo.

In [ ]:
a= sp.symbols('a')
b = 1


n= sp.symbols('n')

verificamos con ayuda de sympy que las formulas que nos dieron eran correctas 
1. formula

In [ ]:
sp.factor(a**2 - b)

(a - 1)*(a + 1)

2. segunda formula

In [ ]:
sp.factor(a**3 - b)

(a - 1)*(a**2 + a + 1)

3. tercera formula

In [ ]:
sp.factor(a**4 - b)

(a - 1)*(a + 1)*(a**2 + 1)

In [ ]:
resultado = (a+b)*(a**2+b)

sp.expand(resultado)

a**3 + a**2 + a + 1

In [ ]:
(a-b)*(a**3+a**2+a+b)

(a - 1)*(a**3 + a**2 + a + 1)

4. suponemos que segun con las formulas que ya nos dieron va a suceder los mismo para $A^5-1$, entonces 

$$A^5-1= (A-1)(A^4+A^3+A^2+A+1)$$

y le pedimos a sympy que nos ayude a probar si esto es verdad.

In [ ]:
sp.factor(a**5 - b)

(a - 1)*(a**4 + a**3 + a**2 + a + 1)

En conclusion podemos decir que esta condicion si se cumple para $A^5-1$, y ahora vamos a probar una formula para 

$$A^n-1$$.
teniendo en cuenta las anteriores formulas podemos generalizarlo de la siguiente forma.

$$A^n-1= (A-1)(A^{n-1}+A^{n-2}+A^{n-3}+...+A+1)$$